    <footer class="fixed-bottom text-center">
      <p>CST336 Internet Programming. 2022&copy; George <br>
      Random Quotes from <a href="https://www.npmjs.com/package/random-lotr-movie-quote">Random LOTR Movie Quote NPM Package</a> <br>
      Other LOTR Data from <a href="https://the-one-api.dev/">The One API</a>
      </p>
    </footer>
  </body>
</html>